

NET "LEDs[7]" IOSTANDARD = LVCMOS33;
NET "LEDs[6]" IOSTANDARD = LVCMOS33;
NET "LEDs[5]" IOSTANDARD = LVCMOS33;
NET "LEDs[4]" IOSTANDARD = LVCMOS33;
NET "LEDs[3]" IOSTANDARD = LVCMOS33;
NET "LEDs[2]" IOSTANDARD = LVCMOS33;
NET "LEDs[1]" IOSTANDARD = LVCMOS33;
NET "LEDs[0]" IOSTANDARD = LVCMOS33;
NET "pssi_data_io[7]" IOSTANDARD = LVCMOS33;
NET "pssi_data_io[6]" IOSTANDARD = LVCMOS33;
NET "pssi_data_io[5]" IOSTANDARD = LVCMOS33;
NET "pssi_data_io[4]" IOSTANDARD = LVCMOS33;
NET "pssi_data_io[3]" IOSTANDARD = LVCMOS33;
NET "pssi_data_io[2]" IOSTANDARD = LVCMOS33;
NET "pssi_data_io[1]" IOSTANDARD = LVCMOS33;
NET "pssi_data_io[0]" IOSTANDARD = LVCMOS33;
NET "clk_i" IOSTANDARD = LVCMOS33;
NET "pssi_clk_o" IOSTANDARD = LVCMOS33;
NET "pssi_de_io" IOSTANDARD = LVCMOS33;
NET "pssi_data_io[7]" SLEW = FAST;
NET "pssi_data_io[6]" SLEW = FAST;
NET "pssi_data_io[5]" SLEW = FAST;
NET "pssi_data_io[4]" SLEW = FAST;
NET "pssi_data_io[3]" SLEW = FAST;
NET "pssi_data_io[2]" SLEW = FAST;
NET "pssi_data_io[1]" SLEW = FAST;
NET "pssi_data_io[0]" SLEW = FAST;
NET "pssi_clk_o" SLEW = FAST;
NET "pssi_de_io" SLEW = FAST;


NET "LEDs[0]" LOC = P15;
NET "LEDs[1]" LOC = P16;
NET "LEDs[2]" LOC = N15;
NET "LEDs[3]" LOC = N16;
NET "LEDs[4]" LOC = T17;
NET "LEDs[5]" LOC = T18;
NET "LEDs[6]" LOC = U17;
NET "LEDs[7]" LOC = U18;
NET "clk_i" LOC = V10;
NET "pssi_data_io[0]" LOC = U7;
NET "pssi_data_io[1]" LOC = V7;
NET "pssi_data_io[2]" LOC = R3;
NET "pssi_data_io[3]" LOC = T3;
NET "pssi_data_io[4]" LOC = T4;
NET "pssi_data_io[5]" LOC = V4;
NET "pssi_data_io[6]" LOC = U5;
NET "pssi_data_io[7]" LOC = V5;
NET "pssi_clk_o" LOC = U8;

# PlanAhead Generated physical constraints 

NET "pssi_de_io" LOC = V8;
